.body{
  background-color: #fff;
  overflow:auto;
}
.index-body{
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  
  /*height: 100%;*/
  width: 100%;
  
  background: #fff;
  background-position: absolute;
  background-size: cover;
}
.ui.menu .item{
  font-weight: 300;
  font-size: .9rem;
}
.ui.segment{
  background:#F5F5F5;
  left:15%;
  max-width:450px;
}
.ui.segment a{
  color:black;
}
.imgBox{
  height:250px;
  overflow:hidden;
}
.imgBox img{
  width:450px;
}
.text{
  color:#191919;
  margin:5% 15% 2%;
}


