.index-body{
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  
  height: 100%;
  width: 100%;
  
  background: #000;
  background-position: center;
  background-size: 100% auto;
}
h1{
  top:15%;
  bottom:5%;
  color:white;
  margin: 0;
}
.ui.menu .item{
  font-weight: 300;
  font-size: .9rem;
}
.column{
  margin:2%;
}
.project{
  max-width:250px;
}
.imgBox .img{
  width:200px;
}
