.index-body{
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  
  height: 100%;
  width: 100%;
  
  background: #000;
  background-position: center;
  background-size: 100% auto;
}
.ui.menu .item{
  font-weight: 300;
  font-size: .9rem;
}
.project {
	margin:5%;
	padding:0;
}
.imgBox{
	height:250px;
	overflow:hidden;
}
.imgBox img{
  width: 450px;
}
.project.h1{
	margin:0;
	top:15%;
	font-family:Arial;
	color:white;
} 



