.index-body{
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  
  height: 100%;
  width: 100%;
  
  background: white;
  background-position: center;
  background-size: 100% auto;
  color: #191919;
}

a {
  color: #191919;
  font-weight:bold;
}
a:hover{
  color: rgba(32,32,32, 0.8);
}
p{
  font-family:Arial;
  font-size:15px;
  left:10%;
  
  margin-right:20%;
  position:relative;
}
.post-meta{
  position:relative;
  margin-top:-20px;
}
.page-header{
  font-family:Arial;
  position:relative;
  padding-top:5%;
  left:5%;
}
.main-header{
  font-family:Arial;
  background:white;
  position:relative;
  text-align:left;
  top:0;
  left:10%;
}
.post-date{
  position:relative;
  top:0;
  color:#A9A9A9;
}
h1.post-title{
  margin-right:20%;
  padding-top:5%;
  position:center;
  font-size:50px;
  color:#191919;
  font-family:Arial;
}
.post-content{
  color:#191919;
  font-family:Arial;
  background:white;
  position:relative;
  padding-top:30px;
  left:0;
  right:0;
  bottom:0;
}

