.index-body{
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  
  height: 100%;
  width: 100%;
  
  background: white;
  background-position: center;
  background-size: 100% auto;
  color: #191919;
}

a {
  color: #191919;
  font-weight:bold;
}
a:hover{
  color: rgba(32,32,32, 0.8);
}
h2.post-title{
  padding-top:5%;
  left:10%;
  font-size:28px;
  font-family:Arial;
  margin-right:20%;
  position:relative;
}
p{
  font-family:Arial;
  font-size:15px;
  left:10%;
  
  margin-right:20%;
  position:relative;
}
.post-meta{
  position:relative;
  padding-top:5px;
}
.main-header{
  background:#F5F5F5;
  position:relative;
  text-align:left;
  top:0;
  left:10%;
  right:0;
}
h1.page-title{
  padding-top:10%;
  position:center;
  font-size:40px;
  color:#191919;
  font-family:Arial;
}
h2.page-description{
  padding-top:1px;
  position:center;
  font-size:30px;
  color:#A9A9A9;
  font-family:Arial;
}
.post-content{
  background:white;
  position:relative;
  padding-top:30px;
  left:0;
  right:0;
  bottom:0;
}

