.index-body{
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  
  height: 100%;
  width: 100%;
  
  background: #fff;
  background-position: center;
  background-size: 100% auto;
}
.ui.fixed.menu.inverted.navbar{
  position:relative;
  float:left;
}
.ui.circular.image{
  width: 150px;
  position: relative;
  float:left;
  left: 10%;
  top: 5px;
}
.text{
  float:left;
  position: relative;
  color:#191919;
  left: 10%;
  top: 5%;
  margin-right: 20%;
  font-family:Arial;
}
