.index-body{
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  
  height: 100%;
  width: 100%;
  
  background: #F0F0F0;
  background-position: center;
  background-size: 100% auto;
  
  color: #191919;
}

/*.ui.main.text.container{
  text-align: center;
  position:relative;
  top:5%;
}*/
.ui.menu .item{
  font-weight: 300;
  font-size: .9rem;
}
a {
  color: #191919;
  font-weight:bold;
}
a:hover{
  color: rgba(32,32,32, 0.8);
}

h2.post-title{
  text-align:left;
  position:relative;
  margin-top:3%;
  bottom:1%;
  right:4%;
}
p{
  text-align:left;
  right:4%;
  position:relative;
}
footer.post-meta{
  position:relative;
  bottom:3%;
  text-align:left;
}
/*h2.ui.header{
  position:relative;
  bottom:2%;
  background: #F5F5F5;
}
h1.ui.header{
  background: #F5F5F5	;
  top:5%;
}
*/
.main-header-content.inner{
  background:red;
  position:absolute;
  text-align: center;
  top:0;
  left:0;
  right:0;
  bottom:80%;
}
.main-text.container{
  background:green;
  position:absolute;
}
