.index-body{
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  
  height: 100%;
  width: 100%;
  
  background: #F0F0F0;
  background-position: center;
  background-size: 100% auto;
  
  color: #191919;
}

.ui.header{
  position: center;
  text-align: center;
  top:50%;
}
.ui.menu .item{
  font-weight: 300;
  font-size: .9rem;
}
.text{
  position: fixed;
  color:#191919;

  font-family:Arial;
}
.post{
  color: #191919;
  top:10%
  bottom:10%
  right:10%;
  left:10%;
}
.post-header .a:hover {
    color: rgba(32,32,32, 0.8);
}

