---
layout: default
css: /blog/blog.css
---

    <div class="index-body">
      <header class="page-header">
        <a href="/blog">
        <button class="ui mini basic animated button">
            <div class="visible content">Home</div>
          <div class="hidden content">
            <i class="left arrow icon"></i>
          </div>
        </button>
        </a>
      </header>
      <header class="main-header no-cover">
          <h1 class="post-title">{{ page.title }}</h1>
          <section class="post-meta">
              <time class='post-date' datetime="{{ page.date | date_to_string }}">{{ page.date | date_to_string }}</time>
          </section>
      </header>
    {{content}}
    {% for js in page.jsarr %}
    <script type="text/javascript">
    {% include {{ js }} %}
    </script>
    {% endfor %}
    </div>
