---
layout: default

---
    <div class="index-body">
      <header class="page-header">
        <a href="/">
        <button class="ui mini basic animated button">
            <div class="visible content">Home</div>
          <div class="hidden content">
            <i class="left arrow icon"></i>
          </div>
        </button>
        </a>
      </header>
      <header class="main-header no-cover">
          <h1 class="post-title">{{ page.title }}</h1>
          <section class="post-meta">
              <time class='post-date' datetime="{{ page.date }}">{{page.date}}</time>
          </section>
      </header>

      <section class="post-content">
          {{content}}
      </section>
    </div>
